.header {
  &__container {
    background-color: $color-primary;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }

  &__logo {
    flex-grow: 1;

    .fa-star {
      cursor: pointer;
      font-size: $font-level1;
      padding: 10px;
      color: $color-brand;
    }
  }

  &__search {
    flex-grow: 10;
    text-align: right;
    margin-right: 25px;

    .fa-search {
      cursor: pointer;
      font-size: $font-level2;
      color: $color-white;
      margin-left: -25px;
    }
    input {
      font-family: $font-medium;
      padding-bottom: 5px;
      background-color: $color-primary;
      border: 0;
      border-bottom: 2px solid $color-white;
      color: $color-white;
      width: 95%;
      max-width: 250px;
      font-size: $font-level5;
      &:focus {
        outline: 0;
      }
    }

    & ::placeholder {
      color: $color-white;
      font-family: $font-light;
    }
  }

  &__cart {
    text-align: right;
    padding-right: 10px;
    padding-right: 20px;
    position: relative;
    flex-grow: 1;

    .fa-shopping-cart {
      cursor: pointer;
      font-size: $font-level2;
      color: $color-white;
      right: 0;
      &:after {
        content: attr(data-badge);
        height: 20px;
        width: 20px;
        border-radius: 50%;
        font-size: $font-small;
        font-family: $font-dark;
        position: absolute;
        padding-right: 5px;
        padding-top: 3px;
        top: -7px;
        right: 10px;
        background-color: $color-alert;
      }
    }
  }
}
