.modal-container {
  display: block;
  #filter-modal {
    display: block;
  }
  #sort-modal {
    display: none;
    @include media-breakpoint-up(md) {
      display: block;
      div {
        display: inline-block;
      }

      .sort-modal__sortby {
        ul {
          margin-top: 10px;
          padding-left: 0;
          margin-bottom: 20px;
          li {
            display: inline-block;
            margin-left: 15px;

            input[type='radio'] {
              display: none;
            }

            label {
              text-decoration: none;
              cursor: pointer;
              font-family: $font-medium;
              font-size: $font-level4;
              color: $color-light;

              &.active {
                color: $color-link;
                border-bottom: 2px solid $color-link;
              }
            }
          }
        }
      }
    }
    .modal-footer {
      &__cancel,
      &__apply {
        display: block;
        @include media-breakpoint-up(md) {
          display: none;
        }
      }
    }
  }

  .modal {
    display: block;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: $color-overlay;

    .modal-content {
      background-color: $color-white;
      margin: auto;
      border: 1px solid $color-medium-border;
      width: 80%;
    }
    .modal-footer {
      &__action {
        display: flex;
        border-top: 1px solid $color-border;
      }

      &__cancel,
      &__apply {
        flex-grow: 1;
        text-align: center;
        padding: 10px;

        button {
          background-color: none;
          border: none;
          font-family: $font-medium;
          color: $color-link;
          font-size: $font-level4;
          &:focus {
            outline: none;
          }
          cursor: pointer;
        }
      }

      &__cancel {
        border-right: 1px solid $color-border;
      }
    }
  }
}
